/*************** VARIABLES ***/

// PRIMARY COLORS VARIABLES
$bg-brown: #EFEBE9;
$off-white: #FFFFFC;
$off-black: #333333;
$light-blue: #AAD1CE;
$dark-blue: #8BBEC1;
$lilac: #D4C2D2;
$salmon: #D08B84;
$green: #008B7B;

// SECONDARY COLORS VARIABLES
$light-brown: #BCAAA4;
$medium-brown: #8D6E63;
$dark-brown: #56504C;
$tan: #F9F7F1;
$light-purple: #F6F3F3;
$brown: #8D6E63;

// FONTS STACKS
$body-font: "Hind", "Helvetica Neue", sans-serif;
$header-link-font: "Fredericka the Great", "Helvetica Neue", sans-serif;
$nav-font: "Montserrat", "Helvetica Neue", sans-serif;

// PLACEHOLDER SELECTORS
%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

%horizontal-align {
    margin-left: auto;
    margin-right: auto;
}
