/*************** VARIABLES ***/

// PRIMARY COLORS VARIABLES
$off-white: #FFFFFC;
$off-black: #333333;
$light-blue: #AAD1CE;
$dark-blue: #8BBEC1;
$lilac: #D4C2D2;
$salmon: #D08B84;

// SECONDARY COLORS VARIABLES
$light-brown: #877770;
$medium-brown: #6A5554;
$dark-brown: #56504C;
$tan: #F9F7F1;
$light-purple: #F6F3F3;
$brown: #A1887F;

// FONTS STACKS
$body-font: "Lato", "Helvetica Neue", sans-serif;
$header-link-font: "Montserrat", "Helvetica Neue", sans-serif;

// PLACEHOLDER SELECTORS
%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

%horizontal-align {
    margin-left: auto;
    margin-right: auto;
}