/********* ABOUT PAGE ***********/

@mixin center($width) {
    margin: {
        left: auto;
        right: auto;
    };
    width: $width;
}

#about {
    //height: 300px;
    max-height: 1000px;
    margin-top: -40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg_about.jpg") no-repeat fixed;
    background-size: cover;
    clear: both;
    display: flex;
    //justify-content: center;
    //align-items: center;
    overflow-x: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

#mission {
    width: 50%;
    float: left;
 //   height: 300px;
    padding: 0px 100px;
    p {
 //     @include center(75%);
        span {
            font-size: 19px;
            font-weight: 700;
        }
    }
    //margin-top: 200px;
    //margin-bottom: 100px;
}

#history {
    @extend #mission;
}

#history:after {
    clear: both;
}

#muiristasBio {
    clear: both;
    padding-top: 50px;
    h2 {
        text-align: center;
    }
}

#muiristasContent {
    overflow: hidden;
    max-width: 1000px;
}

.muiristaWrapper {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.muiristaPhoto {
    position: relative;
}

.muiristaPhoto > img {
    width: 200px;
    height: auto;
}

.hoverDisplay {
    position: absolute;
    background-color: rgba(255, 255, 252, 0.8);
    display: none;
    width: 170px;
    min-height: 280px;
    max-height: 280px;
    top: 0;
    padding: 15px;
    font-size: 0.8125em;
}

.muiristaPhoto:hover > .hoverDisplay {
    display: table-cell;
    vertical-alignment: middle;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.muiristaText {
    clear: both;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 1em;
}

.muiristaName {
    font-weight: 400;
}

.muiristaTitle {
    font-size: 0.85em;
}

#sources {
    clear: both;
    background-color: $off-white;
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
        text-align: center;
    }
}

#centerSources {
    padding-top: 25px;
    /*position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -550px 0 -550px;*/
    text-align: center;
  /*  img {
        width: 250px;
        height: auto;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }*/
    overflow: hidden;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 1em;
    max-width: 1400px;
    list-style: none;
    text-align: center;
}
/* Common style */
.grid figure {
    position: relative;
    float: left;
/*    overflow: hidden;
margin: 10px 1%;*/
    width: 250px;
    max-height: 167px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    /*display: block;*/
    min-height: 100%;
    min-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    color: #fff;
    font-size: 1.5em;
    font-weight: 50;
}


.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
    background: #9e5406;
    width: 250px;
    height: auto;
}

figure.effect-bubba img {
    opacity: 1.0;
    width: 250px;
    height: auto;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    padding-top: 22%;
    color: #fff;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-bubba p {
    padding: 10px 2.5em;
    opacity: 0;
    color: #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
