/********* ABOUT PAGE ***********/

@mixin center($width){
	margin: {
		left: auto;
		right: auto;
	}
	width: $width;
}

#about{
	height: 454px;
	background-color: $light-brown;
}

#mission{
	width: 50%;
	float: left;
	p{
		@include center(70%);
	}
}

#history{
	width: 50%;
	float: right;
	p{
		@include center(70%);
	}
}

#muiristasBio {
	@include center(70%);
}

.muiristaWrapper {
	float: left;
	img {
		width: 250px;
		height: 375px;
	}
	margin-left: 10px;
	margin-right: 10px;
}

.muiristaText {
	text-align: center;
	margin-top: 3px;
	margin-bottom: 10px;
}

/*#muiristasBio{
	@include center(75%);
	padding-top: 50px;
	padding-bottom: 50px;
}

#muiristaPhoto{

	img{
		width: 250px;
		height: 375px;
		margin-right: 2%;
		margin-left: 2%;
	}
}*/

#sources{
	clear: both;
	height: 392px;
	background-color: $tan;
	padding-top: 50px;
	padding-bottom: 50px;
}