/********** VARIABLES ***/
@import "variables";

html, body {
	font: 300 100% $body-font;
	color: $off-black;
	background-color: $off-white;
}

h1 {
	font: 400 $header-link-font;
	font-size: 3em
}

h2 {
	@extend h1;
	font-size: 1.875em;
}

p {
	font-size: 0.875em;
	margin: 0;
}