/********* GALLERY PAGE ***********/

.container {
    //width: 800px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.firstRow {
    height: 587px;
}

.firstCol {
    height: inherit;
    width: 370px;
    float: left;
}

.pic-1 {
    width: 370px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 39px; 
}

.pic-2 {
    width: 370px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}

.row {
    height: 450px;
}

.pic-3 {
    width: 587px;
    height: auto;
    float: right;
    margin-bottom: 30px;
}

.pic-4 {
    width: 674px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}

.pic-5 {
    width: 283px;
    height: auto;
    float: right;
    margin-bottom: 30px;
}

.pic-6 {
    width: 1000px;
    height: auto;
    float: right;
    margin-bottom: 30px;
}

.pic-7 {
    width: 283px;
    height: auto;
    margin-right: 30px;
}

.pic-8 {
    width: 674px;
    height: auto;
    float: right;
    margin-bottom: 30px;
}