/********* GALLERY PAGE ***********/

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.firstRow {
    height: 587px;
}

.firstCol {
    height: inherit;
    width: 370px;
    float: left;
}

.pic-1 {
    margin-right: 30px;
    margin-bottom: 39px; 
}

.pic-2, .pic-4, .pic-7 {
    margin-right: 30px;
    margin-bottom: 30px;
}

.pic-3, .pic-5, .pic-6, .pic-8 {
    float: right;
    margin-bottom: 30px;
}

.row {
    height: 450px;
}

.pic-3 {
    width: 587px;
    height: auto;
}

.pic-4 {
    width: 674px;
    height: auto;
}