/*************** INDEX PAGE ***/
#banner {
	background:url('../img/banner_placeholder.jpg');
	width: 100%;
	min-height: 400px;
	border-bottom: 5px solid $dark-blue;
}

#debrief {
	height: 200px;
	background-color: $off-white;
	p {
		font-size: 1.125em;
		margin-left: 225px;
		margin-right: 225px;
		@extend %vertical-align;
	}
}

#specials {
	height: 380px;
	background-color: $off-white;
	img {
		float: left;
		width: 50%;
		height: 100%;
	}
}

.blurb {
	width: 50%;
	height: 100%;
	background-color: $dark-brown;
}

.section-content {
	@extend %vertical-align;	
}

// cheating
.left-text {
	text-align: left;
}