/*************** INDEX PAGE ***/
@mixin center($width) {
    margin: {
        left: auto;
        right: auto;
    };
    width: $width;
}

#banner {
    background: $off-white url("../img/banner.jpg") no-repeat;
    background-size: cover;
//    width: 100%;
    height: 100vh;
//    min-height: 650px;
    background-position: center center;
}

#welcome_text {
  font-family: $header-link-font;
  font-weight: 400;
  font-size: 4em;
  color: #57866D;
  margin-bottom: 15px;
}

#banner_text {
  text-align: center;
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  text-shadow: 0 0 6px #111111;
  p {
    font-size: 1.5em;
    color: white;
  }
}

// First Section
#debrief {
//    height: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $off-white;
    text-align: center;
    p {
        font-size: 1.5em;
        line-height: 1.625em;
        character-spacing: 0.5px;
        text-align: center;
        @include center(53%);
//        @extend %vertical-align;
    }
}

// Specials section
#specials {
    height: 380px;
    background-color: $off-white;
    img {
        width: 55%;
        height: 100%;
    }
}

.blurb {
    width: 45%;
    height: 100%;
    background-color: #464C44;
    text-align: center;
    //display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -moz-flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    display: -ms-flex;
    -ms-justify-content: center;
    -ms-align-items: center;
}

// Stories section
#storiesPreview {
//    height: 280px;
    padding: 90px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg_indexstory.jpg") no-repeat fixed;
    background-size: cover;
}

#story-content {
//    @extend %vertical-align;
    @include center(99%);
    text-align: center;
}

.story {
    min-height: 100px;
    p {
        width: 230px;
        padding: 5px 3em;
        display: inline-block;
        text-align: center;
    }
    .white-text {
        vertical-align: top;
    }
    .no-story {
        vertical-align: middle;
        color: $off-white;
        a {
            color: $green;
        }
        a:hover {
            color: $light-blue;
        }
    }
}

// Location and Hours section
#locationHours {
    @extend #specials;
    color: $off-white;
}

#hours, #location {
    width: 200px;
    height: 237px;
    display: inline-block;
    float: left;
}

#hours {
    padding-right: 35px;
}

#day {
    padding-right: 15px;
}

table {
    border: none;
    text-align: left;
}

.td-col1 {
    padding-right: 18px;
    font-weight: 700;
}

// Icons section
#icons {
    width: 100%;
//    height: 330px;
    background-color: $off-white;
    padding: 70px 0px;
}

#icon-content {
 //   @extend %vertical-align;
    @include center(90%);
    text-align: center;
    p {
        width: 45%;
        display: inline-block;
    }
}

#icon-logo {
    @include center(90%);
    img {
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }
}

.icon-resize {
    width: auto;
    height: 100px;
}

// Random Redundant/Hacky Styling
.left-text {
    text-align: left;
}

.white-text {
    color: $off-white;
}

#banner-wrapper {
    padding-top: 50px;
}
