/*************** INDEX PAGE ***/
#banner {
	background:url('../img/banner_placeholder.jpg');
	width: 100%;
	min-height: 400px;
	border-bottom: 5px solid $dark-blue;
}

// First Section
#debrief {
	height: 200px;
	background-color: $off-white;
	p {
		font-size: 1.125em;
		@extend %horizontal-align;
		@extend %vertical-align;
	}
}

// Specials section
#specials {
	height: 380px;
	background-color: $off-white;
	img {
		width: 50%;
		height: 100%;
	}
}

.blurb {
	width: 50%;
	height: 100%;
	background-color: $dark-brown;
}

#section-content {
	@extend %vertical-align;	
}

// Stories section
#storiesPreview {
	height: 280px;
	background: linear-gradient(rgba(255, 255, 252, 0.9), rgba(255, 255, 252, 0.9)),
		url('../img/bg_placeholder.jpg') no-repeat fixed center center;
}

#story-content {
	@extend #section-content;
	@extend %horizontal-align;
}

.story {
	width: 240px;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
}

// Location and Hours section
#locationHours {
	@extend #specials;
}

#hours, #location {
	width: 38%;
	height: 38%;
	@extend %vertical-align;
	padding-left: 6%;
	padding-right: 6%;
}

// Icons section
#icons {
	height: 330px;
	background-color: $off-white;
}

#icon-content {
	@extend %vertical-align;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	img {
		padding: 3%;
	}
}

#icon-logo {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.icon-resize {
	width: auto;
	height: 100px;
}

// Random Redundant/Hacky Styling
.left-text {
	text-align: left;
}

.white-text {
	color: $off-white;
}