@import "variables";

#story_form {
    width: 100%;
    background-color: #eee;
    height: 55px;
    padding-top: 15px;
    cursor: pointer;
}

form {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#charLimit {
    float: left;
    font-size: 0.875em;
}

.applyRed {
    color: red;
}

#submit {
    float: right;
    width: 110px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $green;
    margin-top: 5px;
    background-color: $green;
    font-family: inherit;
    font-size: inherit;
    //font-weight: bold;
    cursor: pointer;
    color: $off-white;
    box-shadow: 3px 3px 5px #ddd;
}

#q {
    border-radius: 3px;
    border: 1px solid #ababab;
    width: 96.5%;
    resize: none;
    height: 20px;
    font-family: inherit;
    font-size: inherit;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    padding: 10px 15px 10px 15px;
    overflow: hidden;
}

.bubble {
    position: relative;
    width: 75%;
    height: 80px;
    margin-top: 35px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    display: table;
    box-shadow: 2px 2px 5px #333;
}

.storyholder {
//    border: 1px solid $off-white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.leftBubble {
    background-color: $light-brown;
    //float: left;
}

.leftBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 35px 15px 0;
    border-color: transparent $light-brown;
    display: block;
    width: 0;
    z-index: 1;
    left: -34px;
    top: 55px;
    clear: both;
}

.rightBubble {
    background-color: $medium-brown;
    margin-left: 20%;
}

.rightBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 35px;
    border-color: transparent $medium-brown;
    display: block;
    width: 0;
    z-index: 1;
    right: -34px;
    top: 55px;
    clear: both;
}

.qmark {
    font-family: 'Spirax';
}

#story-background {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg_pholder.jpg") no-repeat fixed;
    background-size: cover;
}

#story-container {
    width: 894px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 90px;
}

#form-wrapper {
    /* adds 50px to 100px of #wrapper */
    padding-top: 50px;
}

#story-popup {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: -250px;
    color: $off-white;
    img {
        width: 30%;
    }
}
