/*************** VARIABLES ***/
#debrief p, .section-content, #story-content, #hours, #location {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#debrief p, #story-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

/*************** INDEX PAGE ***/
#banner {
  background: url("../img/banner_placeholder.jpg");
  width: 100%;
  min-height: 400px;
  border-bottom: 5px solid #8BBEC1; }

#debrief {
  height: 200px;
  background-color: #FFFFFC; }
  #debrief p {
    font-size: 1.125em; }

#specials, #locationHours {
  height: 380px;
  background-color: #FFFFFC; }
  #specials img, #locationHours img {
    width: 50%;
    height: 100%; }

.blurb {
  width: 50%;
  height: 100%;
  background-color: #56504C; }

#storiesPreview {
  height: 280px;
  background: linear-gradient(rgba(255, 255, 252, 0.9), rgba(255, 255, 252, 0.9)), url("../img/bg_placeholder.jpg") no-repeat fixed center center; }

.story {
  width: 240px;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%; }

#hours, #location {
  width: 38%;
  height: 38%;
  padding-left: 6%;
  padding-right: 6%; }

#icons {
  height: 330px;
  background-color: orange; }

.left-text {
  text-align: left; }

.white-text {
  color: #FFFFFC; }

/********* MENU PAGE ***********/
#menuBlurb {
  text-align: center;
  height: 200px;
  /* temp */
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

#menuContainer {
  background-color: #464c44;
  background-size: contain;
  width: inherit;
  padding: 10px;
  margin-bottom: 100px; }

#menuImg {
  background: url("../img/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 650px;
  width: 100%; }

/********* GALLERY PAGE ***********/
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.firstRow {
  height: 587px; }

.firstCol {
  height: inherit;
  width: 370px;
  float: left; }

.pic-1, .pic-2, .pic-4, .pic-7 {
  margin-right: 30px;
  margin-bottom: 30px; }

.pic-3, .pic-5, .pic-6, .pic-8 {
  float: right;
  margin-bottom: 30px; }

.row {
  height: 450px; }

/********* ABOUT PAGE ***********/
#about {
  height: 454px;
  background-color: #877770; }

#mission {
  width: 50%;
  float: left; }
  #mission p {
    margin-left: auto;
    margin-right: auto;
    width: 70%; }

#history {
  width: 50%;
  float: right; }
  #history p {
    margin-left: auto;
    margin-right: auto;
    width: 70%; }

#muiristasBio {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px; }

.muirista {
  width: 250px;
  height: 375px;
  margin-right: 2%;
  margin-left: 2%; }

#sources {
  height: 392px;
  background-color: #F9F7F1;
  padding-top: 50px;
  padding-bottom: 50px; }

html, body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 100%;
  color: #333333;
  font-weight: 300;
  background-color: #FFFFFC;
  margin: 0;
  padding: 0; }

header {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  background-color: #FFFFFC;
  font-size: 15px;
  position: fixed;
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }

footer {
  clear: both;
  position: relative;
  height: 70px;
  bottom: 0;
  margin-bottom: 0;
  background-color: #333333;
  color: white; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h2, p {
  text-align: center; }

h1, h2 {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: #AAD1CE; }

h2 {
  font-size: 1.875em;
  color: #D4C2D2;
  margin-bottom: 12px;
  margin-top: 0; }

p {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  color: #333333;
  margin: 0; }

#logo {
  float: left;
  margin-left: 100px;
  padding-top: 25px; }

#logo > a > img {
  height: 100px; }

#nav {
  float: right;
  display: inline-block;
  margin-right: 100px;
  margin-top: 65px; }

.option {
  float: left;
  margin-left: 45px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent; }

.selected {
  color: #D08B84;
  border-bottom: 3px solid #D08B84; }

#wrapper {
  padding-top: 150px;
  padding-bottom: 10px; }

#content {
  min-height: 100%; }

#media {
  float: left;
  margin-top: 25px;
  display: inline;
  margin-left: 100px; }

#media > a > img {
  width: 20px;
  margin-right: 15px; }

#copyright {
  float: right;
  text-align: right;
  margin-top: 28px;
  display: inline;
  font-size: 0.75em;
  margin-right: 100px; }

.right-side {
  float: right; }

.left-side {
  float: left; }

/*# sourceMappingURL=style.css.map */
