{% extends "extras/base.html" %}
{% block content %}
    <h1>This is Muir Woods</h1>
    <div id = "about">
    	<div id = "mission">
    		<h2>Our Mission</h2>
    		<p><!--insert mission text here --></p>
    	</div>
    	<div id = "history">
    		<h2>Our History</h2>
    		<p><!--insert mission text here --></p>
    	</div>
    </div>
    <div id = "muiristas">
    	<h2>Meet the Muiristas</h2>
    	{% for muirista in muiristas %}
    		<img src="{{photo_url}}">
    		<!--populate with respective muirista name-->
    	{% endfor %}
    </div>
    <div id="sources">
    	<h2>Where We Source From</h2>
    	<div id = "row">
    		{% for source in sources %}
    			<img src="{{photo_url}}">
    		{% endfor %}
    	</div>
    </div>

{% endblock %}