{% extends "extras/base.html" %}
{% block content %}
    <div id = "about">
        <h1>A Whole<br/>Latte Love</h1>
    	<div id = "mission">
    		<h2>Our Mission</h2>
    		<p>This is a short paragraph of text--less than or equal to 250 words--describing the mission of Muir Woods. This is a short paragraph of text--less than or equal to 250 words--describing the mission of Muir Woods.</p>
            <span class = "standout">
            
            </span>
    	</div>
    	<div id = "history">
    		<h2>Our History</h2>
    		<p>This is a short paragraph of text--less than or equal to 250 words--describing the mission of Muir Woods. This is a short paragraph of text--less than or equal to 250 words--describing the mission of Muir Woods.</p>
    	</div>
    </div>
    <div id="muiristasBio">
    	<h2>Meet the Muiristas</h2>
    	{% for muirista in muiristas %}
            <div class="muiristaWrapper">
            	<img src="{{muirista['photo_url']}}">
                <div class = "muiristaText">
                    {{muirista['name']}} <br/>
                </div>
            </div>
    	{% endfor %}
    </div>
    <div id = "sources">
    	<h2>Where We Source From</h2>
    		{% for source in sources %}
    			<img src="{{source['photo_url']}}">
    		{% endfor %}
    </div>

{% endblock %}