{% extends "extras/base.html" %}
{% block content %}
<div class="container">
    <!-- <h1>Gallery</h1> -->
    <div class="firstRow">
        <div class="firstCol">
            <img class="pic-1" src="img/gallery/1.jpg">
            <img class="pic-2" src="img/gallery/2.jpg">
        </div>
        <img class="pic-3" src="img/gallery/3.jpg">
    </div>
    <div class="row">
        <img class="pic-4" src="img/gallery/4.jpg">
        <img class="pic-5" src="img/gallery/quote1.png">
    </div>
    <img class="pic-6" src="img/gallery/6.jpg">
    <div class="row">
        <img class="pic-7" src="img/gallery/quote2.png">
        <img class="pic-8" src="img/gallery/8.jpg">
    </div>
    <div class="firstRow">
        <div class="firstCol">
            <img class="pic-1" src="img/gallery/9.jpg">
            <img class="pic-2" src="img/gallery/10.jpg">
        </div>
        <img class="pic-3" src="img/gallery/11.jpg">
    </div>
    <div class="row">
        <img class="pic-4" src="img/gallery/12.jpg">
        <img class="pic-5" src="img/gallery/quote3.png">
    </div>
    <img class="pic-6" src="img/gallery/14.jpg">
    <div class="row">
        <img class="pic-7" src="img/gallery/15.jpg">
        <img class="pic-8" src="img/gallery/16.jpg">
    </div>
</div>
{% endblock %}
