{% extends "extras/base.html" %}
{% block content %}
	<!--insert image of banner here-->
    <div id="banner"></div>
    <div id="container">
        <div id="debrief">
        	<p>If it’s good coffee you seek at UCSD, then <b>Muir Woods</b> is the answer. We carry fair trade coffee from a local roaster, organic loose leaf teas, and a selection of pastries from a local bakery. Best on campus! We serve our products with a smile and as much conversation as you'd like.</p>
        </div>
        <div id="specials">
        	<!--Insert image of specials that's 50% of width here-->
            <img src="img/specials.png" class="left-side"/>
        	<div class="blurb right-side">
        		<div id="specials-content">
                    <h2>Specials</h2>
            		<p class="white-text">Today is Abraham Lincolns and Charles Darwins birthday!<br/>
                    Muir Woods has new specials, Oh Yay!<br/>
                    Come check them out! If you don't a lovely barista may pout.<br/>
                    We can't wait to see you all, we offer most of these drinks big or small!<br/>
                    I hope your day is filled with joy!<br/>
                    If you can't drink milk we do offer soy!</p>
                </div>
        	</div>
        </div>
        <div id="storiesPreview">
            <div id="story-content">
            	<h2>Your Stories</h2>
            	<div class="story">
            		<p>"Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods. Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods."</p>

            		<p>"Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods. Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods."</p>
                    
            		<p>"Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods. Here will be a preview of a story of a previous customer/previous Muirista detailing the experience they had at Muir Woods."</p>
            	</div>
            </div>
        </div>
        <div id="locationHours">
        	<div class="blurb left-side">
                    <div id="hours">
                		<h2 class="left-text">Hours</h2>
                		<!--hours should go here-->
                        <p class="left-text white-text">
                        Monday<br/>
                        Tuesday<br/>
                        Wednesday<br/>
                        Thursday<br/>
                        Friday<br/>
                        Saturday<br/>
                        Sunday<br/>
                        </p>
                        <p class="left-text white-text">
                        7:30am - 9:00pm<br/>
                        7:30am - 9:00pm<br/>
                        7:30am - 8:00pm<br/>
                        7:30am - 8:00pm<br/>
                        7:30am - 5:00pm<br/>
                        CLOSED<br/>
                        CLOSED<br/>
                        </p>
                    </div>
                    <div id="location">
                		<h2 class="left-text">Location</h2>
                		<p class="left-text white-text">We’re located across from the Muir Residential Halls and the Muir Quad. Head down the stairs next to Pines and you’ll also find us across from Roots.</p>
                    </div>
        	</div>
        	<!--image of location that's 50% of width with class "right-side" should go here-->
            <img src="img/specials.png" class="right-side" alt="placeholder">
        </div>
        <div id="icons">
        	<!--insert the three icon images here-->
            <div id="icon-content">
                <div id="icon-logo">
                <img src="img/USDAorganic.png" class="icon-resize"/>
                <img src="img/fairtrade.jpg" class="icon-resize"/>
                <br/>
                <img src="img/tritoncashlogo.png"/>
                </div>
        	<p>Muir Woods carries <b>organic coffee</b> from local vendors and a wide variety of <b>loose leaf teas</b>.  We also offer many alternatives in preparation like soy milk or almond milk on request. On-campus students fear not! <b>We accept Triton Cash</b>.</p>
            </div>
        </div>
    </div>
{% endblock %}