{% extends "extras/base.html" %}
{% block content %}
	<!--insert image of banner here-->
    <div id="banner"></div>
    <div id="debrief">
    	<p>If it’s good coffee you seek at UCSD, then <b>Muir Woods</b> is the answer. We carry fair trade coffee from a local roaster, organic loose leaf teas, and a selection of pastries from a local bakery. Best on campus! We serve our products with a smile and as much conversation as you'd like.</p>
    </div>
    <div id="specials">
    	<!--Insert image of specials that's 50% of width here-->
    	<div class="blurb">
    		<h2>Specials</h2>
    		<p>Today is Abraham Lincolns and Charles Darwins birthday!Muir Woods has new specials, Oh Yay! Come check them out! If you don't a lovely barista may pout. We can't wait to see you all, we offer most of these drinks big or small! I hope your day is filled with joy! If you can't drink milk we do offer soy!</p>
    	</div>
    </div>
    <div id="storiesPreview">
    	<h2>Your Stories</h2>
    	<div class="story">
    		<p>"In here will be a preview of the "stories" of previous customer//previous Muirista's detailing the positive experience they had at Muir Woods Coffee House."</p>
    	</div>
    	<div class="story">
    		<p>"In here will be a preview of the "stories" of previous customer//previous Muirista's detailing the positive experience they had at Muir Woods Coffee House."</p>
    	</div>
    	<div class="story">
    		<p>"In here will be a preview of the "stories" of previous customer//previous Muirista's detailing the positive experience they had at Muir Woods Coffee House."</p>
    	</div>
    </div>
    <div id="locationHours">
    	<div class="blurb">
    		<h2>Hours</h2>
    		<!--hours should go here-->
    		<h2>Location</h2>
    		<!--location blurb should go here-->
    	</div>
    	<!--image of location  that's 50% of width should go here-->
    </div>
    <div id="icons">
    	<!--insert the three icon images here-->
    	<p>Muir Woods carries <b>organic coffee</b> from local vendors and a wide variety of <b>loose leaf teas</b>.  We also offer many alternatives in preparation like soy milk or almond milk on request. On-campus students fear not! <b>We accept Triton Cash</b>.</p>
    </div>
{% endblock %}