{% extends "extras/base.html" %}
{% block content %}
    <div id="story_form">
        <form method="post">
            <textarea id="q" name="q"></textarea>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="container">
    	<h1>Your Stories</h1>
    	{% for i in range(stories|length) %}
    	{% if i%2 == 0 %}
    	<div class="leftBubble">
    		<!--populate bubble with respective text-->
    	</div>
    	{% else %}
    	<div class="rightBubble">
    		<!--populate bubble with respective text-->
    	</div>
    	{% endif %}
    	{% endfor %}
    </div>
{% endblock %}