<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    {% block css %}
    <!-- Include All CSS Files here -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Hind:400,500,600,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/style.css" />
    {% endblock %}

    {% block js %}
    <!-- Include All JavaScript Files here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/velocity.min.js"></script>
    {% endblock %}
    <title>Muir Woods Coffee House</title>
</head>

<body>
    <header>
        <div id="mobile">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
                <g>
                    <g id="menu">
                        <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z" />
                    </g>
                </g>
            </svg>
        </div>
        <div id="logo">
            <a href="/"><img src="img/logo_transparent.png" />
            </a>
        </div>
        <div id="nav">
            <div class="option {% if endpoint == 'home' %}selected{% endif %}">
                <a href="/">HOME</a>
            </div>
            <div class="option {% if endpoint == 'about' %}selected{% endif %}">
                <a href="/about">ABOUT</a>
            </div>
            <div class="option {% if endpoint == 'menu' %}selected{% endif %}">
                <a href="/menu">MENU</a>
            </div>
            <div class="option {% if endpoint == 'stories' %}selected{% endif %}">
                <a href="/stories">YOUR STORIES</a>
            </div>
            <div class="option {% if endpoint == 'gallery' %}selected{% endif %}">
                <a href="/gallery">GALLERY</a>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <div id="media">
            <!-- Yelp -->
            <a href="http://www.yelp.com/biz/muir-woods-coffee-house-la-jolla-2" target="_blank">
                <img src="img/yelp.png" />
            </a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/MuirWoodsCoffee" target="_blank">
                <img src="img/facebook55.png" />
            </a>
            <!-- Instagram -->
            <a href="https://instagram.com/muirwoodscoffeehouse/" target="_blank">
                <img src="img/instagram12.png" />
            </a>
        </div>
        <div id="copyright">
            <!--&copy; 2015 Muir Woods Coffee House | John Muir College | UC San Diego-->
            <!--<br/>-->
            &copy; 2015 Muir Woods Coffee House&nbsp;&nbsp;&bull;&nbsp;&nbsp;John Muir College&nbsp;&nbsp;&bull;&nbsp;&nbsp;UC San Diego
        </div>
    </footer>
</body>

</html>
