<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% block css %}
        <!-- Include All CSS Files here -->
        <link rel="stylesheet" href="/css/style.css" />
        {% endblock %}

        {% block js %}
        <!-- Include All JavaScript Files here -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        <title>Muir Woods Coffee House</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Navigation Bar here -->
        </header>
        <div id="content">
            <!-- Substitutable Contents here -->
            {% block content %}{% endblock %}
        </div>
        <footer>
            <!-- Footer here -->
        </footer>
    </body>
</html>